
.background-blue {
    -fx-background-color: #65b2ef;
}

.background-black {
    -fx-background-color: #000000;
}

.background-light-black {
    -fx-background-color: #454545;
}

.text-blue {
    -fx-text-fill: #65b2ef;
}

.text-white {
    -fx-text-fill: #ffffff;
}

.list-view .list-cell:even {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.list-view .list-cell:odd {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.movie-cell {
    -fx-background-color: black;
    -fx-padding: 2;
}

.filter-combo-box {
    -fx-background-color: white;
    -fx-text-fill: #ffffff;
}

.nav-btn {
    -fx-background-color: #292929;
    -fx-text-fill: #b5b5b5;
}

.nav-btn:hover {
    -fx-background-color: #454545;
}

.nav-btn-selected {
    -fx-background-color: #65b2ef;
    -fx-text-fill: #000000;
}